<% if @articles.present? %>
<table>
    <th> <center> Titles </center> </th>
    <th colspan = "2">  <center> Options </center> </th>
    <% @articles.each do |article|%>
    <tr>
        <td> <%= article.title %> </td>
        <td> <%= link_to "Show", article_path(article), :class => "btn btn-primary"%> </td>
        <td> <%= link_to "Delete", article_path(article),method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger"%>  </td>
    </tr>
    <% end %>
</table>
<% else %>
<br>
<h4> Oops, There is no any articles to display, <%=link_to "Click Here", new_article_path %>  To Create Article</h4>
<% end %>
