<h1> Add New hotel </h1>
<% flash.each do |key, value| %>
       <font color = "red"> <div class="<%= key %>"><%= value %></div> </font>
<% end %>
<%= render partial: "hotelForm", locals: {hotelURL: hotels_path, formMethod: :post} %>